@import '../../../assets/styles/default.scss';

.layout__container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.layout__wrap {
    width: $default-width;
}

.layout__save {
    margin-top: 50px;
}