@import '@defaultStyles';

.authPageWrapper__container {
  display: flex;
  flex-direction: column;
  width: $default-width;
}

.authPageWrapper__label {
  display: flex;
  width: $default-width;
  justify-content: center;
  margin: 8px 0;
}

.authPageWrapper__authForm {
  margin-bottom: 32px;
}
