@import '@defaultStyles';

.container {
  display: flex;
  flex-direction: column;
  width: $default-width;
}

.authPageWrapper__label {
  display: flex;
  width: $default-width;
  justify-content: center;
  margin: 10px 0;
}
