@import '@defaultStyles';

.footer__wrapper {
  transition: all 0.3s ease;
  position: fixed;
  width: 100vw;
  background-color: $light-secondary-background;
  padding-top: 4px;
  color: $light-secondary-color;
}

.layout__footer {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.layout__footer_hide {
  bottom: -62px;
}

.layout__footer_show {
  bottom: 0px;
}
