@import '../../../assets/styles/default.scss';

.layout__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout__container_light {
    background-color: $light-theme-background;
    color: $light-theme-color;
}

.layout__container_dark {
    background-color: $dark-theme-background;
    color: $dark-theme-color;
}

.layout__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    transition: all .3s ease;
    position: absolute;
    width: 100vw;
    background-color: lightgray;
    padding-top: 4px;
}

.layout__footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.layout__footer_hide {
    bottom: -62px;
}

.layout__footer_show {
    bottom: 0px;
}