@import '../../../assets/styles/default.scss';

.layout__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout__container-light {
    background-color: $light-theme-background;
    color: $light-theme-color;
}

.layout__container-dark {
    background-color: $dark-theme-background;
    color: $dark-theme-color;
}

.layout__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    transition: all .3s ease;
}

.layout__footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.layout__footer-hide {
    margin-bottom: -62px;
}

.layout__footer-show {
    margin-bottom: 0px;
}