.checkboxs__container {
    margin-top: 13px;
    margin-left: -11.2px;
}

.checkboxs__checkbox {
    display: flex;
    align-items: center;
}

.checkboxs__wrapper {
    display: flex;
}

.checkboxs__label {
    cursor: pointer;
}