$dark-theme-background: black;
$dark-theme-color: white;

$light-theme-background: white;
$light-theme-color: black;

$default-width: 200px;

$default-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$default-font-size: 0.875rem;
$default-letter-spacing: 0.02857em;
$default-line-height: 1.75;