$dark-theme-background: #282828;
$dark-theme-color: #e0e0e0;

$light-theme-background: white;
$light-theme-color: black;
$light-secondary-color: rgba(0, 0, 0, 0.87);
$light-secondary-background: #e0e0e0;

$default-width: 200px;

$default-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$default-font-size: 0.875rem;
$default-letter-spacing: 0.02857em;
$default-line-height: 1.75;
