@import './default.scss';

* {
  font-family: $default-font-family;
  line-height: $default-line-height;
  letter-spacing: $default-letter-spacing;
  font-size: $default-font-size;
}

body {
  overflow-x: hidden;
}
