.navitem__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    cursor: pointer;
}

.navitem__label {
    font-size: 12px;
    margin-top: 5px;
}